<html>
  <head>
    <meta charset="utf-8">
    <title>AGI15 - Project 2</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700|Codystar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <div id="about-body">
      <h1>About Starshooter</h1>
      <p>Starshooter is a game about shooting stuff in space. It shoots automatically and the player controls the aiming point with a phone sticked to a wheelchair. The goal is to shoot as many planets as possible with in the time limit.</p>
      <h3>Motivations</h3>
      <p>The main theme of the second project in AGI project 2 was to create a game that could be help improve people's the daily life. We decided to create
      a game to help people learn how to use a wheelchair. Especially, this game helps to learn how to tilt correctly with the wheelchair.</p>
      <p>Furthermore, another motivation was to learn how to code with the WebGL/Three.js library. During our first projects in Advanced Graphics and Interaction, we used
      Unity, a game engine, to develop our games. So for this project, we wanted to come back to classic computer programming.</p>
      <h3>Technology</h3>
      <h4>Three.js</h4>
      <h4>Node.js</h4>
      <h4>Socket.io</h4>
      <h3>Challenges</h3>
      <p></p>
      <h3>Lessons learned</h3>
      <p>- Three.js is a good library to use in computer graphics but it is quite complicated to learn to use it and to debug it because the documentation is not really detailed.</p>
      <p>- Three.js examples found on the web generally can be difficult to use because some of them don't use the latest version of Three.js so the code didn't work anymore if you want to use the latest version since some functions have been replaced.</p>
      <h3>Photos</h3>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <a href="/images/17.jpg"><img src="/images/17.jpg"></a>
      <h3>Videos</h3>
      <iframe class="vid" src="https://www.youtube.com/embed/PJlmYh27MHg" frameborder="0" allowfullscreen></iframe>
      <iframe class="vid" src="https://www.youtube.com/embed/URVS4H7vrdU" frameborder="0" allowfullscreen></iframe>
      <iframe class="vid" src="https://www.youtube.com/embed/URVS4H7vrdU" frameborder="0" allowfullscreen></iframe>
      <iframe class="vid" src="https://www.youtube.com/embed/URVS4H7vrdU" frameborder="0" allowfullscreen></iframe>
      <p><a href="/" id="phone-control" class="button" style="width: 100%; margin: 0 auto;">Back to game</a></p>
  </body>
</html>
