<html>
  <head>
    <meta charset="utf-8">
    <title>AGI15 - Project 2</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700|Codystar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <div id="about-body">
      <h1>About Starshooter</h1>
      <p>Starshooter is a game about shooting stuff in space. It shoots automatically and the player controls the aiming point with a phone sticked to a wheelchair. The goal is to shoot as many planets as possible until the background music stops. It's pretty cool : every time you shoot is pretty cool and there is always a sense of urgency. I give this game 10/10 good game.</p>
      <h3>Motivations</h3>
      <p> The main theme of the AGI project 2 is to create a game that could be useful for improving the daily life of some people. So we have decided to create
      a game to help to learn how to use a wheelchair. Especially, this game helps to learn how to tilt correctly with the wheelchair. <br/> <br/>

      Furthermore, another motivation is to learn to code with the WebGL/Three.js library. During our first projects in Advanced Graphics and Interaction, we used
      Unity, a game engine, to develop our games. So for this project, we want to come back to classic computer programming. </p>
      <h3>Technology</h3>
      <p>We use a wide range of technology including computers and monitors. There is always a wheelchair involved aswell.</p>
      <h3>Challenges</h3>
      <h3>Lessons learned</h3>
      - Three.js is a good library to use in computer graphics but it is quite complicated to learn to use it and to debug it because the documentation is not really detailed <br/>
      - Three.js examples found on the web generally can be difficult to use because some of them don't use the latest version of Three.js so the code didn't work anymore if you want to use the latest version since some functions have been replaced.
      <p><a href="/" id="phone-control" class="button" style="width: 100%; margin: 0 auto;">Back to game</a></p>
  </body>
</html>
