<html>
<head>
  <meta charset="utf-8">
  <title>Starshooter - Controller</title>
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700|Codystar' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles/controllerstyle.css">
</head>
<body>
  <div id="controller-selection" class="fade-in table">
    <div class="table-cell">
      <h1 class="logo">Starshooter</h1>
      <p id="no-support" style="display:none;">Not supported on your device or browser. Sorry.</p>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    "use strict";

    var hash = window.location.hash;
    hash = hash.substring(1);
  	var socket = io();
    socket.emit('client connect', { key: hash });
    socket.on('client already connected', function(msg){
      socket.disconnect();
      document.getElementById('connect-error').style.display = "inline";
    });

    init();

    function init() {
      if (window.DeviceOrientationEvent) {
        window.addEventListener('deviceorientation', function(eventData) {
          var tiltLR = eventData.gamma;
          var tiltFB = eventData.beta;
          var dir = eventData.alpha
          deviceOrientationHandler(tiltLR, tiltFB, dir);
          }, false);
      }
      else {
        document.getElementById('no-support').style.display = "inline";
      }
    }

    function deviceOrientationHandler(tiltLR, tiltFB, dir) {
		  socket.emit('update movement', {
        "tiltLR": Math.round(tiltLR),
        "tiltFB": Math.round(tiltFB),
        "dir": Math.round(dir)
      });
    }
    </script>
</script>
</html>