<html>
  <head>
    <meta charset="utf-8">
    <title>AGI15 - Project 2</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700|Codystar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>

  <body>
    <p id="connect-error" style="display:none;">Another server is already connected, and only one at the time is allowed!</p>
    <div id="input-data" style="display:none;">
      <table>
        <tr>
          <td>Tilt Left/Right [gamma]</td>
          <td id="tilt-LR"></td>
        </tr>
        <tr>
          <td>Tilt Front/Back [beta]</td>
          <td id="tilt-FB"></td>
        </tr>
        <tr>
          <td>Direction [alpha]</td>
          <td id="direction"></td>
        </tr>
      </table>
      <p>r = recalibrate controls</p>
    </div>
    <div id="gui" style="display:none;">
      <div id="score"><span>Score: </span><span class="holder">0</span></div>
      <div id="exit"><a href="" id="exitgame-button" class="button">Exit</a></div>
      <div id="shotclock">3</div>
    </div>
    <div id="controller-selection" class="table">
      <div class="table-cell">
        <h1 class="logo">Starshooter</h1>
        <p>Select controls</strong></p>
        <p><a href="" id="phone-control" class="button">Phone</a>
        <a href="" id="mouse-control" class="button">Mouse</a></p>
      </div>
    </div>
    <div id="phoneinput-info" class="table" style="display:none;">
      <div class="table-cell">
        <p>Connect your phone and the game will start.</p>
      </div>
    </div>

    <script src="socket.io/socket.io.js"></script>
    <script src="bower_components/threejs/build/three.min.js"></script>
    <script src="scripts/libs/SPE.min.js"></script>
    <script src="bower_components/tweenjs/src/Tween.js"></script>
    <script src="bower_components/chance/dist/chance.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script id="vertexshader" type="x-shader/x-vertex">
    varying vec3 vNormal;

    void main() {
    vNormal = normal;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
    }
    </script>

    <!-- Custom Shader Code -->
    <script id="vertexShader" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    uniform float c;
    uniform float p;
    varying float intensity;
    void main() 
    {
      vec3 vNormal = normalize( normalMatrix * normal );
      vec3 vNormel = normalize( normalMatrix * viewVector );
      intensity = pow( c - dot(vNormal, vNormel), p );
      
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
    </script>
    
    <!-- fragment shader a.k.a. pixel shader -->
    <script id="fragmentShader" type="x-shader/x-vertex"> 
    uniform vec3 glowColor;
    varying float intensity;
    void main() 
    {
      vec3 glow = glowColor * intensity;
        gl_FragColor = vec4( glow, 1.0 );
    }
    </script>
    <!-- -->

    <script src="scripts/scenes/MainScene.js"></script>

    <script src="scripts/controllers/SelectInputController.js"></script>
    <script src="scripts/controllers/MouseInputController.js"></script>
    <script src="scripts/controllers/KeyInputController.js"></script>
    <script src="scripts/controllers/PhoneInputController.js"></script>
    <script src="scripts/controllers/AimController.js"></script>
    <script src="scripts/controllers/TravelController.js"></script>
    <script src="scripts/controllers/EnvironmentController.js"></script>
    <script src="scripts/controllers/TargetController.js"></script>
    <script src="scripts/controllers/ShootController.js"></script>
    <script src="scripts/controllers/GUIController.js"></script>
    <script src="scripts/controllers/AudioController.js"></script>

    <script src="scripts/models/Line.js"></script>
    <script src="scripts/models/Circle.js"></script>
    <script src="scripts/models/ImperfectCircle.js"></script>
    <script src="scripts/models/Target.js"></script>
    <script src="scripts/models/Shot.js"></script>

    <script src="scripts/main.js"></script>



  </body>
</html>