<html>
  <head>
    <meta charset="utf-8">
    <title>Starshooter - Start</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700|Codystar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta name="description" content="Starshooter is browser shooting game that runs in your browser and you control with your phone">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>

  <body>
    <div id="controller-selection" class="fade-in table">
      <div class="table-cell">
        <h1 class="logo">Starshooter</h1>
        <p>Select controls</strong></p>
        <p><a href="" id="phone-control" class="button">Phone</a>
        <a href="" id="mouse-control" class="button">Mouse</a></p>
        <div id="about">
          <p><a class="about" href="about">About</strong></a></p>
        </div>
      </div>
    </div>
    <div id="phoneinput-info" class="table" style="display:none;">
      <div class="table-cell">
        <p>Go to <strong>http://starshooter.kspri.se/control#<span id="unique-key"></span></strong> in your phone and the game will start.</p> <p>Remember that you can always click "r" on your keyboard to calibrate the controller.</p>
      </div>
    </div>
    <div id="endgame" class="fade-in table" style="display:none;">
      <div class="table-cell">
        <h1 class="logo">Game over</h1>
        <p>Final score:</p>
        <div id="score"><span class="holder">0</span></div>
        <div><a href="" class="button">Play again</a></div>
      </div>
    </div>
    <div id="aim" style="display:none;">
    </div>
    <div id="gui" class="fade-in" style="display:none;">
      <div id="score"><span>Score: </span><span class="holder">0</span></div>
      <div id="exit"><a href="" id="exitgame-button" class="button">Exit</a></div>
      <div id="shotclock">3</div>
    </div>
    <script src="http://starshooter.kspri.se/socket.io/socket.io.js"></script>
    <script src="bower_components/threejs/build/three.min.js"></script>
    <script src="scripts/libs/SPE.min.js"></script>
    <script src="bower_components/tweenjs/src/Tween.js"></script>
    <script src="bower_components/chance/dist/chance.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script id="vertexshader" type="x-shader/x-vertex">
    varying vec3 vNormal;

    void main() {
    vNormal = normal;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
    }
    </script>

    <!-- Custom Shader Code -->
    <script id="vertexShader" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    varying float intensity;
    void main()
    {
      vec3 vNormal = normalize( normalMatrix * normal );
      vec3 vNormel = normalize( normalMatrix * viewVector );
      intensity = dot(vNormal, vNormel);

        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
    </script>

    <!-- fragment shader a.k.a. pixel shader -->
    <script id="fragmentShader" type="x-shader/x-vertex">
    uniform vec3 glowColor;
    varying float intensity;
    void main()
    {
      vec3 glow = glowColor * intensity;
        gl_FragColor = vec4( glow, 1.0 );
    }
    </script>
    <!-- -->

    <script src="scripts/scenes/MainScene.js"></script>

    <script src="scripts/controllers/SelectInputController.js"></script>
    <script src="scripts/controllers/MouseInputController.js"></script>
    <script src="scripts/controllers/KeyInputController.js"></script>
    <script src="scripts/controllers/PhoneInputController.js"></script>
    <script src="scripts/controllers/AimController.js"></script>
    <script src="scripts/controllers/TravelController.js"></script>
    <script src="scripts/controllers/EnvironmentController.js"></script>
    <script src="scripts/controllers/TargetController.js"></script>
    <script src="scripts/controllers/ShootController.js"></script>
    <script src="scripts/controllers/GUIController.js"></script>
    <script src="scripts/controllers/AudioController.js"></script>

    <script src="scripts/models/Line.js"></script>
    <script src="scripts/models/Circle.js"></script>
    <script src="scripts/models/ImperfectCircle.js"></script>
    <script src="scripts/models/Target.js"></script>
    <script src="scripts/models/Shot.js"></script>
    <script src="scripts/models/Rain.js"></script>

    <script src="scripts/main.js"></script>



  </body>
</html>
